<div class="{{post.class}} mb_large mt_large row" role="article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="c_center col-md-8 col-lg-offset-2">
        <time itemprop="datePublished" content="{{ post.post_date }}" datetime="{{ post.post_date }}">{{ post.display_date }}</time>
        {% if not has_h1 %}
            <h1>{{post.title}}</h1>
        {% endif %}
    </div>

    {% if thumbnail %}
        <div class="post-content col-md-10 col-lg-offset-1 mb_default mt_default">
            {{ thumbnail }}
        </div>
    {% endif %}

    <div class="post-content col-md-8 col-lg-offset-2">
        {{post.content}}
    </div>
</div>