{% if link %}
    <a href="{{link}}" {% if fancybox %} class="fancybox"{% endif %}>
{% endif %}
    <picture>
        <!--[if IE 9]><video style="display: none;><![endif]-->
        <source srcset="{{ image }}" media="(min-width: 800px)">
        {% if responsive %}
            <source srcset="{{ responsive }}" media="(max-width: 800px)">
        {% endif %}
        {% if portrait %}
            <source srcset="{{ portrait }}" media="(max-width: 800px) and (orientation: portrait)">
        {% endif %}
        <!--[if IE 9]></video><![endif]-->
        <img srcset="{% if portrait %}{{ portrait }}{% elseif responsive %}{{ responsive }}{% else %}{{ image }}{% endif %}" class="{% if image_class %} {{ image_class }} {% endif %}" {% if alt %} alt="{{ alt }}" {% endif %}>
    </picture>
{% if permalink or image_large %}
    </a>
{% endif %}