<section class="widget widget--contactbox">
    <div class="headline-wrapper">
        {% if instance.headline %}<strong class="headline">{{ instance.headline }}</strong>{% endif %}
        {% if instance.subline %}<em class="subline">{{ instance.subline }}</em>{% endif %}
    </div>
    {% for location in selected_location.sub_locations %}
        {% if location.phone_number %}
            <p>
                <strong>{{ location.name }}</strong>
                <br>
                <span class="fa fa-phone-square"></span> {{ location.phone_number }}
            </p>
        {% endif %}
    {% endfor %}
    {% if not selected_location %}
        <p>
            <strong>{{ options.company_name }}</strong>
            <br>
            <span class="fa fa-phone-square"></span> {{ options.phone_number_display }}
        </p>
    {% endif %}
    <div class="mt_default">
        {{ button }}
    </div>
</section>