<p>
    <label for="{{ field.id }}">{{ field.title }}</label>
    <input class="widefat" id="{{ field.id }}" name="{{ field.name }}" type="number" min="{{ field.min }}" max="{{ field.max }}" value="{{ field.value }}">
</p>