<!DOCTYPE html>
<html lang="de-DE">
<head>

    {{ function('theme_comment') }}

    <title>{{ function('wp_title') }}</title>
    <meta charset="{{ site.charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ function('do_action', 'wpseo_the_desc') }}">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if options.css_file %}
        <link type="text/css" rel="stylesheet" href="/content/themes/default/assets/css/{{ options.css_file }}">
    {% else %}
        <link type="text/css" rel="stylesheet" href="/content/themes/default/assets/css/app.css">
    {% endif %}
    {{ function('do_shortcode', '[get_header_tracking_codes]') }}
</head>
<body id="app" class="{{ body_class }}">
    <div id="site">
        {% block header %}
            <header id="site__header" class="header clearfix" itemscope itemtype="http://schema.org/Organization">
                <div class="container">
                    <div class="page-header">
                        {% include 'partials/logo.php.twig' %}
                        {% include 'partials/nav-primary.php.twig' %}
                    </div>
                </div>
            </header>
        {% endblock %}
        {% include 'partials/slider.php.twig' %}
        <main id="site__main" role="main">
            {% block content %}{% endblock %}
        </main>
        {% block footer %}
            <footer id="site__footer" class="footer">
                <div class="container">
                    <div class="social-btn-container">
                        Finden Sie uns auf:
                        <br>
                        {% if options.facebook %}
                            <a href="{{ options.facebook }}" class=" fa fa-facebook-official" target="_blank" rel="nofollow" title="Finde {{ site.title }} auf Facebook!"></a>
                        {% endif %}
                        {% if options.instagram %}
                            <a href="{{ options.instagram }}" class="fa fa-instagram" target="_blank" rel="nofollow" title="Finde {{ site.title }} auf Instagram!"></a>
                        {% endif %}
                        {% if options.google_plus %}
                            <a href="{{ options.google_plus }}" class="fa fa-google-plus-square" target="_blank" rel="nofollow" title="Finde {{ site.title }} auf Google Plus!"></a>
                        {% endif %}
                        {% if options.youtube %}
                            <a href="{{ options.youtube }}" class="fa fa-youtube-square" target="_blank" rel="nofollow" title="Finde {{ site.title }} auf YouTube!"></a>
                        {% endif %}
                        {% if options.twitter %}
                            <a href="{{ options.twitter }}" class="fa fa-twitter-square" target="_blank" rel="nofollow" title="Finde {{ site.title }} auf Twitter!"></a>
                        {% endif %}
                    </div>
                    {% include 'partials/nav-footer.php.twig' %}
                    Copyright {{ function('date', 'Y') }} {{ options.company_name }}. Alle Rechte vorbehalten. Website erstellt von: <a href="http://www.mindtwo.de/" target="_blank">mindtwo GmbH</a>.
                </div>
            </footer>
        {% endblock %}
    </div>
    {{ function('do_shortcode', '[global_javascript_vars]') }}
    <script type="text/javascript" src="{{ function('elixir', 'content/themes/default/assets/js/all.js') }}" async></script>
    {% include 'partials/tracking-codes.php.twig' %}
</body>
</html>