<!DOCTYPE html>
<html {{function('language_attributes')}}>
<head>

    {{function('theme_comment')}}

    <title>{{function('bloginfo', 'wpseo_the_title')}}</title>
    <meta charset="{{ site.charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{function('do_action', 'wpseo_the_desc')}}">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="csrf_token" name="token" content="{{function('csrf_token')}}">

    <link type="text/css" rel="stylesheet" href="{{function('theme_css_path')}}bundle.min.css">
    <link type="text/css" rel="stylesheet" href="{{function('elixir', 'content/themes/default/assets/css/app.css')}}">
    <link rel="alternate" type="application/rss+xml" title="mindtwo News Feed (RSS2)" href="{{function('bloginfo', 'rss2_url')}}">
</head>
<body class="{{ body_class }}">
    <div id="site">
        <header id="site__header" class="header clearfix" itemscope itemtype="http://schema.org/Organization">
            <div class="container">
                <div class="page-header">
                    {% include 'partials/logo.php.twig' %}
                </div>
                {% include 'partials/nav-primary.php.twig' %}
            </div>
        </header>
        <main id="site__main" role="main">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>
        <footer id="site__footer" class="footer">
            <div class="container">
                <hr>
                <div class="row">
                    <div class="col-md-6"><a href="http://www.mindtwo.de/" target="_blank">Theme by mindtwo GmbH</a></div>
                    <div class="col-md-6">{% include 'partials/nav-footer.php.twig' %}</div>
                </div>
            </div>
        </footer>
    </div>
    <div class="preloader">
        <div class="preloader__loader"></div>
    </div>
    <script type="text/javascript" src="{{function('elixir', 'content/themes/default/assets/js/all.js')}}"></script>
    {% include 'partials/tracking-codes.php.twig' %}
</body>
</html>