<div class="flexible_content col_one_content mt_{{ data.margin_top }} mb_{{ data.margin_bottom }}" {% if data.hash_key %}id="{{ data.hash_key }}"{% endif %}>
	<section class="container">
		<div class="row clearfix">
			<div class="col-sm-12">
				{% if data.image_col_1 %}
					<img src="{{ data.image_col_1.sizes.medium }}" alt="{{ data.image_col_1.alt }}" title="{{ data.image_col_1.title }}">
				{% endif %}
				{{ data.col_1|raw }}
			</div>
		</div>
	</section>
</div>

