<div class="flexible_content --col_three_content mt_{{ data.margin_top }} mb_{{ data.margin_bottom }}" {% if data.hash_key %}id="{{ data.hash_key }}"{% endif %}>
	<section class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-4">
				{% if data.image_col_1 %}
					<img src="{{ data.image_col_1.sizes.medium }}" alt="{{ data.image_col_1.alt }}" title="{{ data.image_col_1.title }}">
				{% endif %}
				{{ data.col_1|raw }}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				{% if data.image_col_2 %}
					<img src="{{ data.image_col_2.sizes.medium }}" alt="{{ data.image_col_2.alt }}" title="{{ data.image_col_2.title }}">
				{% endif %}
				{{ data.col_2|raw }}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				{% if data.image_col_3 %}
					<img src="{{ data.image_col_3.sizes.medium }}" alt="{{ data.image_col_3.alt }}" title="{{ data.image_col_3.title }}">
				{% endif %}
				{{ data.col_3|raw }}
			</div>
		</div>
	</section>
</div>