<div class="flexible_content seperator mt_{{ data.margin_top }} mb_{{ data.margin_bottom }}" {% if data.hash_key %}id="{{ data.hash_key }}"{% endif %}>
	{% if data.seperator_layout_option %}
		<div class="container"><div class="hr" {{ data.hash_key ? 'id="'.data.hash_key.'"' : '' }}><hr></div></div>
	{% endif %}
		<div class="hr" {{ data.hash_key ? 'id="'.data.hash_key.'"' : '' }}><hr></div>
	{% endif %}
</div>