<div class="flexible_content slider mt_{{ data.margin_top }} mb_{{ data.margin_bottom }}" {% if data.hash_key %}id="{{ data.hash_key }}"{% endif %}>
	{% if data.text_overlay %}
		<div class="overlay_all">
			<div class="container">
				<img src="{{ function('theme_images_path') }}{{ options.logo_image_svg_filename }}" alt="{{ options.logo_alt }}" class="logo">
				{{ data.text_overlay|raw }}
			</div>
		</div>
	{% endif %}
	<div class="slides">
		{% for slide in data.slides_wrapper %}
			{% include 'partials/responsive-image.php.twig' with {'image': slide.image.url,'portrait': slide.image_responsive.url,'alt': slide.image.alt} only %}
		{% endfor %}
	</div>
</div>
