{% if image_large and fancybox %}
    <a href="{{image_large}}" {% if fancybox %} class="fancybox"{% endif %}>
{% elseif permalink %}
    <a href="{{permalink}}">
{% endif %}
    <picture>
        <!--[if IE 9]><audio><![endif]-->
        <source data-srcset="{{ image_responsive }}" media="--small">
        <source data-srcset="{{ image }}" media="--large">
        <!--[if IE 9]></audio><![endif]-->
        <img src="{{ image_responsive }}" class="lazyload {% if image_class %} {{ image_class }} {% endif %}" {% if image_class %} alt="{{ alt }}" {% endif %}>
    </picture>
{% if permalink or image_large %}
    </a>
{% endif %}