{% extends "layout/base.php.twig" %}
{% block content %}
    <div class="container mt_large mb_large">
        <div class="row equal_height_childs">
            <div class="col-sm-12 col-md-8 col-md-push-4 content_box">
                {% if not has_h1 %}
                    <h1>{{post.title}}</h1>
                {% endif %}

                {% if post.thumbnail.src %}
                    <img src="{{post.thumbnail.src}}" />
                {% endif %}

                <div class="body">
                    {{post.content}}
                </div>
            </div>
            <aside class="col-sm-12 col-md-4 col-md-pull-8 sidebar">
                {{sidebar}}
            </aside>
        </div>
    </div>

    {{ function('do_shortcode', '[flexible_contents]') }}
{% endblock %}